.App {
  text-align: center;
}

.section1 {
  font-size: 180px;
  padding-left: 45px;
}

.section101 {
  color: purple;
  font-size: 20px;
  font-family: calisto MT;
  margin-top: 55px;
}

.section2 {
  color: purple;
  font-family: Segoe Print;
  text-align: center;
}

/* .card1 {
  height: 250px;
 
  max-width: 60%;
} */

.card101 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card201 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card301 {
  display: block;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}


.NavbarToggler {
  color: red;
}